    <%= erb(:_header, :locals => { :header_items => [ 'projects', @projectname] })%>
    <div id='content'>
      <% build = @builds.shift %>
      <%= erb(:_build, :locals => { :build => build }) %>
      <h2>Builds</h2>
      <ul id='previous_builds'>
        <% @builds.each do |build| %>
          <%= erb(:_smallbuildline,
                  :layout => false,
                  :locals => { :build => build,
                               :title => build.sha[0..7],
                               :link  => "#{build.project}/#{build.file}" }) %>
        <% end %>
      </ul>
    </div>
